*.swp

**/scala/.idea/
**/scala/.vscode/
**/scala/target/
**/scala/.metals/
**/scala/.bloop/
**/scala/.ammonite/
**/scala/project/project/
**/scala/project/target/
**/scala/project/metals.sbt
**/scala/project/.bloop/

**/rust/target/

**/__pycache__/
